/*body{
  background-color: cadetblue;
  width:360px;
  height:640px;
}*/
input[type=text],[type=password], select{
  width: 100%;
  padding: 16px 10px;
  border: none;
  background-color: white;
}
#item_1{
  background-color:#ff847b;
}
#item_2{
  background-color:#e8ff64;
}
#item_3{
  background-color:#ffcb71;
}
#item_4{
  background-color:#73b9ff;
}
#item_5{
  background-color:#5e4caf;
}
#barra_1{
  background-color: coral;
}
#barra_2{
  background-color: rgb(155, 75, 46);
}
/* MOBILE GENERAL START*/
  #tamaño_mobile{
    position: relative;
    width:360px;
    height:640px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
    background-color: cadetblue;
  }
  /* BANNER STYLE*/
  .banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:360px;
    height: 50px;
    background-color: aquamarine;
    margin: 0 auto;
  }
  .item_banner{
    display: flex;
  }
  .item_banner a{
    position: relative;
    display: flex;
    border: 1px solid blue;
    width:40px;
    height: 40px;
    margin: 0 30px;
  }
/* MOBILE GENERAL END*/

/* SPLASH START*/
  .logo_grande{
    display: flex;
    width:340px;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .cargando{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 60px;
  }
/* SPLASH END*/

/* HOME START*/
  /* SCROLL STYLE*/
  .movie_scroll{
    display: flex;
    justify-items:center;
  }
  .movie_scroll a{
    display: flex;
    position: relative;
    justify-content: center;
    width:360px;
    height: 210px;
    border: 1px solid purple;
    margin-top:15px;
    margin-bottom:7px;
  }
  /* MOVIE OPTIONS STYLE*/
  .pelicula_categoria{
    height:300px;
    width:300px;
    margin:10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px; 
    align-items: center;
    justify-items:center;
  }
  .pelicula_categoria a{
    position: relative;
    display: flex;
    width:128px;
    height: 128px;
  }
  .contenedor_categoria_pelicula{
    width:128px;
    height:128px;
    margin:0 auto;
    margin-top:12px;
    border-radius:10px;
  }
  .item_categoria{
    text-align:center;
    height:128px;
    width:128px;
    line-height:2px; 
    margin-top:10px;
  }
  .item_categoria span{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
/* HOME END*/

/*LISTA PELICULAS START*/
  .categoria{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    border: 1px solid red;
  }
  .contenedor_pelicula{
    display: flex;
    width: 296px;
    height: 120px;
    justify-content: left;
    margin-left: 32px;
    margin-top: 10px;
  }
  .poster{
    display: flex;
    position: relative;
    display: flex;
    width:100px;
    height:120px;
    margin:0 auto;
    border: 1px solid purple;
  }
  .poster a{
    position: relative;
    display: flex;
    width:100px;
    height:120px;
    margin:0 auto;
    border: 1px solid purple;
  }
  .titulo_peliculas{
    font-size: 20px;
    font-weight: bold;
  }
  .texto_peliculas{
    font-size: 15px;
  }
  .texto_contenedor{
    width:200px;
    height:120px;
    margin:0 6px;
    border: 1px solid orange;
  }
/*LISTA PELICULAS END*/

/*TEATROS START*/
  .logo_teatro{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 25px;
  }
  .contenedor_teatro{
    display: flex;
    width: 360px;
    height: 100px;
    justify-content: left;
  }
  .nombre_teatro{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
  }
/*TEATROS END*/

/*CUENTA START*/
  .imagen_usuario{
    display: flex;
    width: 296px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orange;
  }
  .nombre_usuario{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
  }
  .editar_boton{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 204px;
    height: 50px;
    border-radius: 20px;
  }
  .salir_boton{
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 20px;
  }
  .texto_opciones{
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
    color: white;
  }
/*CUENTA END*/

/*EDITAR CUENTA START*/
  .imagen_usuario_mediana{
    display: flex;
    width: 126px;
    height: 126px;
    margin-right: 20px;
  }
  .subir_foto{
    display: flex;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  .contenedor_subir_foto{
    display: flex;
    align-items: center;
    width: 296px;
    height: 126px;
    margin: 32px;
    margin-top: 15px;
    margin-bottom: 17px;
    border: 1px solid blue;
  }
  .contenedor_datos_cuenta{
    display: flex;
    width: 296px;
    height: 406px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .contenedor_lineas{
    display: flex;
    align-items: center;
    width: 296px;
    height: 50px;
    border-bottom: 2px solid red;
    background-color: white;
  }
  .texto_formulario{
    font-size: 24px;
    font-weight: bold;
  }
  .confirmar{
    display: flex;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  }
/*EDITAR CUENTA END*/

/*LOGIN START*/
  .bienvenido{
    display: flex;
    text-align: center;
    font-size: 48px;
    text-emphasis: bolder;
    color: white;
  }
  .bienvenido_contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width:296px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .logo_login{
    display: flex;
    width:120px;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
  }
  .contenedor_datos_login{
    display: flex;
    width: 296px;
    height: 337px;
    margin: 32px;
  }
  .olvidate_contraseña{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  .crear_cuenta{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: black;
    justify-content: center;
  }
  .enviar{
    display: flex;
    border: none;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 116px;
    height: 54px;
    border-radius: 0px;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
  }
/*LOGIN END*/

/*REGISTRO START*/
  .contenedor_datos_registro{
    display: flex;
    width: 296px;
    height: 338px;
    margin: 32px;
    border: 2px solid red;
  }
  .contenedor_captcha{
    display: flex;
    width: 130px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-bottom: 2px solid red;
  }
  .checkbox_captcha{
    margin: 6px;
    width: 20%;
  }
  .texto_captcha{
    display: flex;
    font-size: 22px;
    font-weight: bolder;
    align-items: center;
  }
  .botones_registro{
    display: flex;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
  }
  .registrar{
    margin-left: 29px;
  }
  .cancelar{
    margin-right: 29px;
  }
  .contenedor_botones_registro{
    display: flex;
    width: 296px;
    height: 40px;
  }
/*REGISTRO END*/

/*RECUPERAR CONTRASEÑA START*/
  .logo_recuperar{
    display: flex;
    width:120px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
  }  
.titulo_recuperar{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-left: 32px;
    margin-right: 32px;
  }
  .boton_salir{
    display: flex;
    margin-top: 19px;
    margin-left: 19px;
    width: 40px;
    height: 40px;
    border: 1px solid blue;
  }
  .enviar_recuperar{
    margin-top: 247px;
    margin-left: 0px;
  }
  .restablecer{
    margin-top: 121px;
    margin-right: 0px;
    width: 160px;
  }
  .texto_restablecer{
    font-size: 15px;
    font-weight: bold;
  }
/*RECUPERAR CONTRASEÑA END*/

/*PELICULA START*/
  .contenedor_trailer{
    display: flex;
    width: 296px;
    height: 232px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 22px;
    border: 1px solid red;
    justify-content: center;
  }
  .pelicula_fecha{
    width:296px;
    height:60px;
    margin-top: 28px;
    margin-left: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 18px;
    margin-bottom: 26px;
    border: 1px solid red;
  }
  .fecha_contenedor{
    display: flex;
    width: 59px;
    height: 59px;
    background-color: palevioletred;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .texto_fecha{
    font-size: 30px;
  }
  .calendario_icono{
    width: 36px;
    height: 36px;
  }
/*PELICULA END*/
